/* Reseta o estilo padrão dos navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#planModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 1000;
}


body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f2f5;
    color: #333;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

h1 {
    text-align: center;
    color: #12af04;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
}

p {
    text-align: center;
    color: #666;
    margin-bottom: 30px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    color: #555;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus {
    border-color: #05aa29;
    box-shadow: 0 0 5px rgba(13, 209, 6, 0.5);
    outline: 2px solid #05aa29; /* Adiciona um destaque claro */
}

fieldset {
    border: none;
    padding: 0;
    margin-bottom: 20px;
}

legend {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(1.2);
}

h2 {
    color: #14b106;
    margin-bottom: 15px;
    font-size: 20px;
    border-bottom: 2px solid #06c516;
    padding-bottom: 5px;
}

/* Estilos gerais do botão */
button {
    background-color: #007bff;
    color: #fff;
    margin-top: 34px;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-bottom: 14px;
    /* margin: 10px 5px 0 5px; */
}
/* Estilo para o botão ao passar o mouse */
button:hover {
    background-color: #0056b3; /* Cor de fundo ao passar o mouse */
    transform: scale(1.05); /* Leve aumento do tamanho ao passar o mouse */
}

/* Estilo específico para o botão de visualizar */
.btn-preview {
    margin-top: 20px;
    background-color: #28a745; /* Cor de fundo do botão de visualizar */
}

.btn-preview:hover {
    background-color: #218838; /* Cor de fundo ao passar o mouse para o botão de visualizar */
}

/* Estilo específico para o botão de baixar */
.btn-download {
    background-color: #007bff; /* Cor de fundo do botão de baixar */
}

.btn-download:hover {
    background-color: #0056b3; /* Cor de fundo ao passar o mouse para o botão de baixar */
}

/* Estilo para sliders (range) */
input[type="range"] {
    margin-bottom: 20px; /* Aumentar a margem abaixo do slider */
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    transition: background 0.3s;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #05aa29;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #05aa29;
    cursor: pointer;
}

input[type="range"]:hover {
    background: #b3b3b3;
}


/* Aumentar o espaçamento entre o valor do slider e o botão */
#downloadValue, #uploadValue {
    display: block; /* Garantir que o valor fique em uma nova linha */
    margin-bottom: 15px; /* Adicionar margem inferior para afastar do botão */
    font-size: 16px;
    color: #333;
}


/* Estilo para o select */
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

select:focus {
    border-color: #05aa29;
    box-shadow: 0 0 5px rgba(13, 209, 6, 0.5);
    outline: 2px solid #05aa29;
}


/* Responsividade para telas menores */
@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    h1 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }

    input[type="text"],
    input[type="number"],
    select {
        font-size: 14px;
        padding: 8px;
    }

    .btn-download {
        padding: 10px;
        font-size: 16px;
    }
}
